{% extends "base.html" %}
{% load static %}

{% block nav-includes %}
{% include 'includes/site-nav.html' %}
{% endblock %}

{% block banner %}
    <div class="col bg-black text-white">
        <h4 class="logo-font my-1"> 10% Off your first order!</h4>
    </div>
{% endblock banner %}

{% block content %}
<div class="overlay-background"></div>
<div class="container">
    <div class="row">
        <h2 class="logo-font"> Shopping Cart </h2>
        <hr>
    </div>
    <div class="row">
        {% if cart_products %}
        <div class="table-responsive rounded">
            <table class="table-secondary">
                {% for product in cart_products %}
                <tr class="table-secondary">
                    <td class="p-3 w-25">
                        <img class="img-fluid rounded" src="{{ product.product.image.url }}">
                    </td>   
                    <td class="py-lg-3 d-flex justify-content-around">
                        <h2><strong>{{ product.product.name }}</strong></h2><small class="text-muted">SKU: {{ product.product.sku|upper }}</small>
                    </td>

                    <td class="py-lg-3 d-flex justify-content-around">  
                        <form method="POST" id="update_form" action"{% url 'update_bag' product.product.id %}" class="form update_form">
                            {% csrf_token %}              
                            <div class="btn-group input-group cart-qty-group" role="group" aria-label="Button group to increment, or decrement the selected quantity." >
                                <button class="btn btn-dark cart-qty-change decrement-button" data-change="decrement" data-id="{{product.product.id}}" data-amount="1"> <i class="fa-solid fa-chevron-down"><span class="d-lg-inline d-none">1</span></i></button>
                                <input id="{{product.id}}_qty" class="cart-qty-input" type="number" name="quantity" value="{{ product.quantity }}" min="1" max="99" data-id="{{product.product.id }}" onload="setButtonsDisplay({{ product.product.id }})">
                                <button class="btn btn-dark cart-qty-change increment-button" data-change="increment" data-id="{{product.product.id}}" data-amount="1"> <i class="fa-solid fa-chevron-up"> <span class="d-lg-inline d-none">1</span></i> </button>
                            </div>
                        </form>
                        <button class="update-button btn btn-info"><small>Update</small></button>
                        <button class="remove-button btn btn-danger" id="remove_{{ product.product.id }}" data-product_size="{{ product.size }}"><small>Remove</small></button>
                    </td>
                    <td class="py-lg-3 d-flex justify-content-around">
                        <p>Quantity: <span class="product-qty_{{product.product.id}}">{{ product.quantity }}</span></p>
                        {% if product.product.has_sizes %}
                            <p>Size: {{product.size|upper}}</p>
                            <select class="form-control size_selector rounded-0" form="update_form" name="product_size" id='id_product_size'>
                                <option value="s" {% if product.size == "s" %} selected {% endif %}>S</option>
                                <option value="m" {% if product.size == "m" %} selected {% endif %}>M</option>
                                <option value="l" {% if product.size == "l" %} selected {% endif %}>L</option>
                            </select>
                        {% else %}
                            <p>Size: N/A</p>
                        {% endif %}
                    </td>
                    <td class="py-lg-3 d-flex justify-content-end">
                        <h4 class="cart_price"><small class="price_text {{product.product.id}}">Price per item:</small> £<span id="product_price">{{product.product.price}}</span></h4>
                        <h5 class="price price_qty d-none"><small>Total:</small> £<span class="product_qty_price" data-id="{{product.product.id}}" data-price="{{product.product.price}}"></span></h5>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="d-flex justify-content-between"><p>Total: </p><h3>£{{ total }}</h3></div>
            <div class="d-flex justify-content-between"><p>Remaining for free delivery: </p><h3>£{{free_delivery_delta}}</h3></div>
            <div class="d-flex justify-content-between"><p>Remaining for half price delivery: </p><h3>£{{half_delivery_delta}}</h3></div>
            <div class="d-flex justify-content-between"><p>Delivery Charge: </p><h3>£{{delivery}}</h3></div>
            <div class="d-flex justify-content-end">
                <h2>
                    Total:
                    <span class="price">
                        {% if grand_total %}
                            £{{ grand_total|floatformat:2 }}
                        {% else %}
                            £0.00
                        {% endif %}
                    </span>
                </h2>
            </div>


        </div>
        {% else %}
        <div class="d-flex justify-content-between">
            <h5> Shopping Cart empty </h5>
            <p class="my-0">
                {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                {% else %}
                    $0.00
                {% endif %}
            </p>
        </div>
        <a href={% url 'products' %} class="btn btn-primary w-25 mx-auto"> Click here to starting filling your cart </a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}