<!-- Sidebar  -->
<nav class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">

    <button id="nav-sidebar-toggled" class="btn btn-secondary show" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Toggle Departments
    </button>
    <div class="offcanvas-header">
        <h3>Select a Department</h3>
    </div>
    <ul class="accordion navbar-nav offcanvas-body">
        <li class="nav-item dropdown accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    All Products
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                    <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                    <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                    <a href="{% url 'products' %}" class="dropdown-item"><strong>All Products</strong></a>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Kitchen
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a href="{% url 'products' %}?category=large_appliances" class="dropdown-item">Large Appliances</a>
                    <a href="{% url 'products' %}?category=counter_top_applicances" class="dropdown-item">Counter-top Appliances</a>
                    <a href="{% url 'products' %}?category=cutlery_dishes" class="dropdown-item">Cutlery and dishes</a>
                    <a href="{% url 'products' %}?category=kitchen" class="dropdown-item"><strong>All Kitchen</strong></a>        
                </div>
            </div>
        </li>

        <li class="nav-item dropdown accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Living Room
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a href="{% url 'products' %}?category=living_room_furniture" class="dropdown-item">Furniture</a>
                    <a href="{% url 'products' %}?category=pillows_throws" class="dropdown-item">Pillows and throws</a>
                    <a href="{% url 'products' %}?category=living_room_lighting" class="dropdown-item">Lighting</a>
                    <a href="{% url 'products' %}?category=living_room" class="dropdown-item"><strong>All Living Room</strong></a> 
                </div>
            </div>
        </li>

        <li class="nav-item dropdown accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    Bedroom
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a href="{% url 'products' %}?category=bedroom_furniture" class="dropdown-item">Furniture</a>
                    <a href="{% url 'products' %}?category=bedding" class="dropdown-item">Bedding</a>
                    <a href="{% url 'products' %}?category=bedroom_lighting" class="dropdown-item">Lighting</a>
                    <a href="{% url 'products' %}?category=bedroom" class="dropdown-item"><strong>All Bedroom</strong></a>      
                </div>
            </div>
        </li>

        <li class="nav-item dropdown accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    Bathroom
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a href="{% url 'products' %}?category=unit" class="dropdown-item">Units</a>
                    <a href="{% url 'products' %}?category=towels_robes" class="dropdown-item">Towels &amp; Robes </a>
                    <a href="{% url 'products' %}?category=organisers" class="dropdown-item">Organisers </a>
                    <a href="{% url 'products' %}?category=bathroom" class="dropdown-item"><strong>All Bathroom</strong></a>        
                </div>
            </div>
        </li>

        <li class="nav-item dropdown accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                    Special Offers
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                    <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                    <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                    <a href="{% url 'products' %}?category=specials" class="dropdown-item"><strong>All Specials</strong></a>       
                </div>
            </div>
        </li>
    </ul>
</nav>
