{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block extra_js %}
<script src="{% static 'js/product_detail.js' %}"></script>
{% endblock %}

{% block extra_title %}
    || Add Product
{% endblock %}

{% block nav-includes %}
{% include 'includes/site-nav.html' %}
{% endblock %}


{% block content %}
    <div class="container-md floating_container px-4 py-1">
        <h2 class="m-4">Product Management</h2>
    </div>
    <div class="container-md floating_container py-1">
        <h4 class="m-3">Add Product</h4>
        <hr>
        <div class="row product-container p-2">
            <div class="col-12 container product-img-container" id="product-img-container">
                <form method="POST" action="{% url 'add_product' %}" class="form m-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ product_form | crispy }}
                    <div class="row">
                        <div class="btn-group col-8 w-100 d-flex justify-content-between">
                            <button class="btn btn-success rounded-2 mx-1" name="return" type="submit">Add Product then add another</button>
                            <button class="btn btn-success rounded-2 mx-1" name="manage" type="submit">Add Product then management page.</button>
                            <button class="btn btn-success rounded-2 mx-1" name="view" type="submit">Add Product then this products page.</button>
                            <button class="btn btn-danger rounded-2 mx-1" name="cancel" type="submit">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-md floating_container py-1">
        <h4 class="m-3">Add Category</h4>
        <hr>
        <div class="row p-2">
            <div class="col-12">
                <form method="POST" action="{% url 'add_category' %}" class="form m-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ category_form | crispy }}
                    <div class="row">
                        <div class="btn-group col-8 w-100 d-flex justify-content-between">
                            <button class="btn btn-success rounded-2 mx-1" name="return" type="submit">Submit and return to add more.</button>
                            <button class="btn btn-success rounded-2 mx-1" name="manage" type="submit">Submit and view management page.</button>
                            <button class="btn btn-danger rounded-2 mx-1" name="cancel" type="submit">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
