{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/side-nav.js' %}"></script>
{% endblock %}

{% block nav-includes %}

{% endblock %}

{% block content %}
    <div class="overlay-background">
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <button id="nav-sidebar" class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    Toggle Departments
                  </button>
                {% include 'includes/side-nav.html' %}
            </div>
        </div>
        <div class="row overlay-button">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-secondary top-button edge-button arrow-up"><i class="fa-solid fa-arrow-up"></i></button>
                <button class="btn btn-secondary top-button" id="to-top"> Back to top </button>
                <button class="btn btn-secondary top-button edge-button arrow-down"><i class="fa-solid fa-arrow-down"></i></button>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-primary" id="button-asc">Ascending</button>
                    <button type="button" class="btn btn-primary" id="button-desc">Descending</button>
                  
                    <div class="btn-group sort-select-wrapper" role="group">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price" {% if current_sorting == 'price_asc' or current_sorting == 'price_desc' %}selected{% endif %}>Price</option>
                            <option value="rating" {% if current_sorting == 'rating_asc' or current_sorting == 'rating_desc'%}selected{% endif %}>Rating</option>
                            <option value="name" {% if current_sorting == 'name_asc' or current_sorting == 'name_desc' %}selected{% endif %}>Name</option>
                            <option value="category" {% if current_sorting == 'category_asc' or current_sorting == 'category_desc' %}selected{% endif %}>Category</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 order-md-first">
                <p class="text-muted mt-3 text-center text-md-left">
                    {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
        </div>
        {% if current_categories or current_sorting or search_term %}
        <div class="row sort_filter justify-content-start">
            {% for category in current_categories %}
            <span class="badge category-badge text-bg-secondary filter">   
                    {{ category.get_display_name }}
                <i class="fa-regular fa-circle-xmark btn-remove-category" data-category="{{category.name}}" data-type="{{category.type}}"></i>
            </span>
            {% endfor %}
            
            {% if current_sorting != "None_None" %}
                <span class="badge category-badge text-bg-secondary filter">
                    {{ display_sorting }} <i class="fa-regular fa-circle-xmark btn-remove-sort"></i>
                </span>
            {% endif %} 
            {% if search_term %}
                <span class="badge category-badge text-bg-secondary filter">
                    {{ search_term }}<i class="fa-regular fa-circle-xmark btn-remove-search"></i>
                </span>     
            {% endif %}            
            <button class="badge category-badge text-bg-secondary d-none btn-remove-all"> Remove All <i class="fa-regular fa-circle-xmark"></i></button>

        </div>

        {% endif %}
        <div class="row">
            <div class="card-group">
                {% for product in products %}
                <a href="{% url 'product_detail' product.id %}" class="no-link-decoration">
                    <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 product-card">
                        <div class="card m-3" style="max-width: 540px;">
                            <div class="card-header .d-inline">
                                <h5 class="card-title">{{product.name}} <small class="text-muted">{{product.sku}}</small></h5>
                            </div>
                            <div class="card-body">
                                {% if product.image %}
                                <a href="">
                                    <img class="card-img" height="100%" width="auto" src="{{ product.image.url}}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img" height="auto" width="100%" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <h5 class="card-text">£{{product.price}}</h5>
                                {% if product.rating %}
                                <p class="card-text"><small class="text-muted">{{product.rating}}</small></p>
                                {% else %}
                                <p class="card-text"><small class="text-muted">No rating yet.</small></p>
                                {% endif %}
                                <p class="card-text"><a href="{% url 'products' %}?category={{product.category}}" class="no-link-decoration"><small class="text-muted">{{product.get_category_name }}</a> | <a href="{% url 'products' %}?category={{product.parent}}" class="no-link-decoration">{{product.parent}}</a></small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-sm-none mb-1">
                        <hr>
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-1">
                        <hr>
                    </div>
                    {% endif %}

                    {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none d-lg-block d-xl-none mb-1">
                        <hr>
                    </div>
                    {% endif %}

                    {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block mb-1">
                        <hr>
                    </div>
                    {% endif %}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col">
            
            </div>
        </div>
    </div>
{% endblock content %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/list_products.js' %}"></script>

{% endblock postloadjs %}