{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/side-nav.js' %}"></script>
{% endblock %}

{% block extra_title %}
    {% if current_categories %}
        {% for category in current_categories %}
            {%  if category.type == 0 %}
                || Manage Products
            {% endif %}
        {%  endfor %}
    {% else %}
        || All Products
    {%  endif %}
{% endblock %}

{% block content %}
    <div class="overlay-background">
    </div>

    <div class="container container-fluid">
        <div class="row overlay-button">
            <div class="btn-group" role="group" aria-label="Button group to move up one row, to the top of the page, or down one row">
                <button class="btn btn-secondary top-button edge-button scroll-up"><i class="fa-solid fa-arrow-up"></i></button>
                <button class="btn btn-secondary top-button" id="to-top"> Back to top </button>
                <button class="btn btn-secondary top-button edge-button scroll-down"><i class="fa-solid fa-arrow-down"></i></button>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="Button group to select the order of products">
                    <button type="button" class="btn btn-primary" id="button-asc">Ascending</button>
                    <button type="button" class="btn btn-primary" id="button-desc">Descending</button>
                  
                    <div class="btn-group sort-select-wrapper" role="group">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price" {% if current_sorting == 'price_asc' or current_sorting == 'price_desc' %}selected{% endif %}>Price</option>
                            <option value="rating" {% if current_sorting == 'rating_asc' or current_sorting == 'rating_desc'%}selected{% endif %}>Rating</option>
                            <option value="name" {% if current_sorting == 'name_asc' or current_sorting == 'name_desc' %}selected{% endif %}>Name</option>
                            <option value="category" {% if current_sorting == 'category_asc' or current_sorting == 'category_desc' %}selected{% endif %}>Category</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 order-md-first">
                <p class="text-muted mt-3 text-center text-md-left">
                    {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
        </div>
        {% if current_categories or current_sorting or search_term %}
        <div class="row sort_filter justify-content-evenly justify-content-lg-start">
            {% for category in current_categories %}
                <span class="badge category-badge text-bg-secondary filter">   
                        {{ category.get_display_name }}
                    <i class="fa-regular fa-circle-xmark btn-remove-category" data-category="{{category.name}}" data-type="{{category.type}}"></i>
                </span>
            {% endfor %}
            
            {% if current_sorting != "None_None" %}
                <span class="badge category-badge text-bg-secondary filter">
                    {{ display_sorting }} <i class="fa-regular fa-circle-xmark btn-remove-sort"></i>
                </span>
            {% endif %} 
            {% if search_term %}
                <span class="badge category-badge text-bg-secondary filter">
                    {{ search_term }}<i class="fa-regular fa-circle-xmark btn-remove-search"></i>
                </span>     
            {% endif %}            
            <button class="badge category-badge text-bg-secondary d-none btn-remove-all"> Remove All <i class="fa-regular fa-circle-xmark"></i></button>
        </div>
        {% endif %}
        <div class="row">
            <form method="GET" action="{% url 'manage_products' %}">
              <div class="input-group">
                <input class="form-control border border-black rounded-0" type="text" name="manage_search" placeholder="Search for a product">
                <div class="input-group-append d-flex justify-content-between">
                  <button class="form-control btn border border-black rounded-0" type="submit">
                    <span class="icon">
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                  </button>
                  <a class="btn btn-success rounded-0" href="{% url 'add_product' %}"><i class="fa-solid fa-plus"></i></a>
                </div>
              </div>
            </form>

        </div>

        <table class="table table-striped border-black">
            <thead>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Sku</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">Product Rating</th>
                    <th scope="col">Category</th>
                    <th scope="col">Has Sizes</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            {% for product in products %}
            <tr>
                <td><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></td>
                <td>{{ product.sku }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.rating }}</td>
                <td>{{ product.get_category_name }}</td>
                <td>{{ product.has_sizes }}</td>
                <td><a class="btn btn-info">Edit</a></td>
                <td><a class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>


{% endblock content %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/manage_products.js' %}"></script>

{% endblock postloadjs %}