{% extends "base.html" %}
{% load static %}

{% block extra_js %}
<script src="{% static 'js/product_detail.js' %}"></script>
{% endblock %}

{% block nav-includes %}
{% include 'includes/site-nav.html' %}
{% endblock %}


{% block content %}
    <div class="overlay-background">
    </div>

    <div class="container-md" id="product_detail_container">
        <div class="row product-container">
            <div class="col-12 col-md-6 container product-img-container" id="product-img-container">
                {% if product.image %}
                <a href="{{ product.image.url}}" target="_blank">
                    <img class="product-img" width="100%" src="{{ product.image.url}}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{{ product.image.url}}" target="_blank">
                    <img class="product-img" width="auto" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
                <i class="fa-solid fa-magnifying-glass zoom-overlay"></i>
            </div>
            <div class="col-12 col-lg-6 text-center">
                <h5>{{product.name}} <small class="text-muted">{{product.sku}}</small></h5>
                <h5>£{{product.price}}</h5>
                <p class="card-text"><a href="{% url 'products' %}?category={{product.category}}" class="no-link-decoration"><small class="text-muted">{{product.get_category_name }}</a> | <a href="{% url 'products' %}?category={{product.parent}}" class="no-link-decoration">{{product.parent}}</a></small></p>
                {% if product.rating %}
                <p><small class="text-muted">{{product.rating}}</small></p>
                {% else %}
                <p><small class="text-muted">No rating yet.</small></p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>{{product.description}}</p>
            </div>
        </div>
    </div>
    <div class="d-none enlarge-img">
        {% if product.image %}
        <a href="{{ product.image.url}}" target="_blank">
            <img class="product-img" width="100%" src="{{ product.image.url}}" alt="{{ product.name }}">
        </a>
        {% else %}
        <a href="{{ product.image.url}}" target="_blank">
            <img class="product-img" width="auto" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
        </a>
        {% endif %}
    </div>
{% endblock content %}
