{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block extra_js %}
<script src="{% static 'js/list_detail.js' %}"></script>
{% endblock %}

{% block extra_title %}
    || {{ list.name}}
{% endblock %}

{% block nav-includes %}
{% include 'includes/site-nav.html' %}
{% endblock %}


{% block content %}
    <div class="overlay-background d-lg-none">
    </div>
    <div class="container-md floating_container d-flex justify-content-around px-4 py-1">
        <h2 class="m-4"><a href="{% url 'manage_products' %}" class="no-link-decoration">{{ list.name }}</a></h2>
        <h4 class="m-4"> Price Total: £{{ list.price_total }}</h4>
    </div>
    <div class="container-md floating_container py-1">
        {%  if user == creator.id %}
        <div class="d-flex justify-content-between">
            <a href="{% url 'edit_list' list.id %}" class="btn btn-info m-2">Edit List</a>
            <a href="{% url 'products' %}" class="btn btn-success m-2">Click to find some products to add.</a>
            <a href="{% url 'delete_list' list.id %}" class="btn btn-danger m-2">Delete List</a>
        </div>
        <hr>
        {% else %}
            <h4>List Owner: {{ creator }}</h4>
        {% endif %}
        <div class="row container">
            <div class="d-flex justify-content-end">
                {% if list.item_on_sale == true %}
                    <p class="badge text-bg-success m-1"> Item on sale</p>
                {% else %}
                    <p class="badge text-bg-secondary m-1"> No items on sale </p>
                {%  endif %}
                <p class="badge text-bg-secondary m-1">{%  if list.visible == True %} Public {% else %} Private {% endif %}</p>
            </div>
        </div>
        <div class="row product-container p-2 d-flex justify-content-between">
            <div class="col-12 container d-flex justify-content-between">
                <p class="text-center px-2">{{ list.description }}</p>
                <p class="text-center px-2"><small>Created on: {{ list.created_at }}</small></p>
            </div>

        </div>

        <div class="row product-container p-2">
            <div class="col-12 container floating_container">
                {% if list.list_product %}
                    <table class="table table-striped border-black">
                        <thead>
                            <tr>
                                <th scope="col">Product Name</th>
                                <th scope="col">Product Sku</th>
                                <th scope="col" class="d-none d-lg-table-cell">Product Price</th>
                                <th scope="col" class="d-none d-lg-table-cell">Product Rating</th>
                                <th scope="col" class="d-none d-lg-table-cell">Category</th>
                                <th scope="col" class="d-none d-lg-table-cell">Size</th>
                                <th scope="col">Add to current cart</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                    {% for item in items %}
                        <tr>
                            <td><a href="{% url 'product_detail' item.product.id %}">{{ item.product.name }}</a></td>
                            <td>{{ item.product.sku }}</td>
                            <td class="d-none d-lg-table-cell">{{ item.saved_products_item_price }}</td>
                            <td class="d-none d-lg-table-cell">{{ item.product.rating }}</td>
                            <td class="d-none d-lg-table-cell">{{ item.product.get_category_name }}</td>
                            <td class="d-none d-lg-table-cell">{{ item.product_size }}</td>
                            <td><button class="btn btn-info btn-modal" id="{{ item.product.id }}" data-bs-toggle="modal" data-bs-target="#addToCartModal-{{ item.product.id }}"><small>Add to cart</small></button></td>
                            <td><button class="btn btn-danger" id="remove_{{ item.product.id }}" data-csrf_token="{{ csrf_token }}"><small>Remove</small></button></td>
                        </tr>
                    {% endfor %}
                    </table>
                    {% for item in items %}
                    <!-- Modal -->
                    <div class="modal fade" id="addToCartModal-{{ item.product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add to cart</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <div class="d-flex justify-content">
                                  <h2 class="mx-2">{{ item.product.name }}</h2>
                                  <h4>£{{ item.product.price }}</h4>
                              </div>

                            <form class="form" action="{% url 'add_to_cart' item.product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="d-flex justify-content">
                                    <input type="hidden" name="redirect_url" value="{% url 'list_detail' list.id %}">
                                    <div class="btn-group input-group qty-group" role="group" aria-label="Button group to increment, or decrement the selected quantity.">
                                        <button class="btn btn-dark btn-decrement" data-change="decrement" type="button"> <i class="fa-solid fa-chevron-down"> 1</i></button>
                                        <input id="{{product.id}}_qty" class="form-control btn qty-input" type="number" name="quantity" value="1" min="1" max="99" data-product_id="{{ product.id }}">
                                        <button class="btn btn-dark btn-increment" data-change="increment" type="button"> <i class="fa-solid fa-chevron-up"> 1</i> </button>
                                    </div>
                                    <input type="submit" class="btn btn-success rounded-1 text-uppercase m-2" value="Add to Cart">
                                </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <h2>No products in this list</h2>
                    <a class="btn btn-info" href="{%  url 'products' %}">Click to find products for this list</a>
                {%  endif %}
            </div>
        </div>
    </div>
{% endblock content %}
